.chartsContainer {
  margin-top: 4rem;
  text-align: center;
  min-width: 0;
}

.chartsContainer button {
  background: transparent;
  border-color: transparent;
  text-transform: capitalize;
  color: var(--primary-500);
  font-size: 1.25rem;
  cursor: pointer;
}
.chartsContainer h4 {
  text-align: center;
  margin-bottom: 0.75rem;
}

